[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Quicklauncher
Name[cs]=Rychlé spuštění
Name[el]=Γρήγορη εκκίνηση εφαρμογών
Name[en]=Quicklauncher
Name[eu]=Abiarazle-azkarra
Name[fr]=Lancement rapide
Name[gl]=Quicklauncher
Name[hu]=Gyorsindító
Name[ja]=クイックランチャー
Name[pl]=Szybki Uruchamiacz
Name[ru]=Быстрый запуск
Name[vi]=Trình gọi nhanh
Comment=Program with several launchers
Comment[cs]=Mnoho spouštěč; v jednom
Comment[el]=Πρόγραμμα με πολλούς εκκινητές
Comment[en]=Program with several launchers
Comment[eu]=Abiarazle anitzeko programa
Comment[fr]=Application avec plusieurs lanceurs
Comment[gl]=Programa con varios lanzadores
Comment[hu]=Program különböző indítókkal
Comment[ja]=複数のランチャーを一まとめに表示します。
Comment[pl]=Program z wieloma wyzwalaczami
Comment[ru]=Несколько кнопок запуска
Comment[vi]=Chương trình có vài trình gọi
Icon=gnome-fs-executable
X-XFCE-Module=quicklauncher
X-XFCE-Module-Path=/usr/lib/arm-linux-gnueabihf/xfce4/panel-plugins
