[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Verve Command Line
Name[ar]=سطر أوامر فيرف
Name[ast]=Llinia de comandos Verve
Name[ca]=Línia d'ordres de Verve
Name[cs]=Příkazová řádka Verve
Name[da]=Verve-kommandolinje
Name[de]=Verve-Kommandozeile
Name[el]=Γραμμή Εντολών Verve
Name[en_GB]=Verve Command Line
Name[eo]=Vervea komandlinio
Name[es]=Línea de comandos Verve
Name[eu]=Verve Komando Lerroa
Name[fi]=Verve-komentorivi
Name[fr]=Ligne de commande Verve
Name[gl]=Liña de Comandos Verve
Name[hu]=Verve parancssor
Name[id]=Baris Perintah Verve
Name[it]=Riga di comando Verve
Name[ja]=Verve コマンドライン
Name[lv]=Verve komandu rinda
Name[nb]=Verve kommandolinje
Name[nl]=Verve commandoregel
Name[pa]=ਵੀਰਵੀ ਕਮਾਂਡ ਲਾਇਨ
Name[pl]=Wiersz Poleceń Verve
Name[pt]=Linha de comandos Verve
Name[pt_BR]=Linha de Comando do Verve
Name[ro]=Linia de comandă Verve
Name[ru]=Командная строка Verve
Name[sq]=Rresht Urdhrash Verve
Name[sv]=Verve-kommandorad
Name[tr]=Verve Komut Satırı
Name[ug]=Verve بۇيرۇق قۇرى
Name[uk]=Командний рядок Verve
Name[ur]=ورو کمانڈ لائن
Name[ur_PK]=ورو کمانڈ لائن
Name[vi]=Dòng lệnh Verve
Name[zh_CN]=Verve 命令行
Name[zh_TW]=Verve 指令列
Comment=Command line interface with auto-completion and command history
Comment[ar]=واجهة سطر أوامر تدعم الاستكمال التلقائي وتاريخ للأوامر
Comment[ast]=Interfaz de llinia de comandos con auto-completáu y hestorial de comandos
Comment[ca]=Interfície de línia d'ordres amb compleció automàtica i històric d'ordres
Comment[cs]=Prostředí příkazové řádky s automatickým doplňováním a historií příkazů
Comment[da]=Kommandolinjegrænseflade med autofuldførelse og kommandohistorik
Comment[de]=Mit Autovervollständigung, Befehlsverlauf und URL-Erkennung
Comment[el]=Γραμμή εντολών με αυτόματη συμπλήρωση και ιστορικό
Comment[en_GB]=Command line interface with auto-completion and command history
Comment[eo]=Komandlinia Interfaco kum aŭto-kompletado kaj komandhistorio
Comment[es]=Interfaz de línea de comandos con auto-completado e historial de comandos
Comment[eu]=Komando lerro interfazea auto-betetze eta komando historiarekin
Comment[fi]=Komentorivi automaattitäydennyksellä ja komentohistorialla
Comment[fr]=Interface de ligne de commande avec saisie auto-complétée et historique
Comment[gl]=Interface de liña de comandos con completado automático e historial de comandos
Comment[hu]=Parancssor-felület automatikus kiegészítéssel és parancselőzményekkel
Comment[id]=Antarmuka baris perintah dengan penyelesaian otomatis dan riwayat perintah
Comment[it]=Interfaccia a riga di comando con completamento automatico e storia dei comandi
Comment[ja]=コマンドの自動補完や履歴を参照できるコマンドラインインターフェイスです。
Comment[lv]=Komandu rindas interfeis ar auto-pabeigšanu un komandu vēsturi.
Comment[nb]=Kommandolinjegrensesnitt med automatisk fullføring og kommandohistorikk
Comment[nl]=Command line interface met automatische voltooiing en commando geschiedenis
Comment[pa]=ਆਟੋ-ਕੰਪਲੀਸ਼ਨ ਅਤੇ ਕਮਾਂਡ ਹਿਸਟਰੀ ਨਾਲ ਕਮਾਂਡ ਲਾਇਨ ਇੰਟਰਫੇਸ
Comment[pl]=Wiersz poleceń z autouzupełnianiem i historią komend
Comment[pt]=Linha de comandos com conclusão automática e histórico de comandos
Comment[pt_BR]=Interface de linha de comando com completamento automático e histórico de comandos
Comment[ro]=Interfață în linie de comandă cu auto-completare și istoric
Comment[ru]=Командная строка с автодополнением и журналом команд
Comment[sq]=Ndërfaqe rreshti urdhrash me vetëplotësim dhe historik urdhrash
Comment[sv]=Kommandoradsgränssnitt med automatisk komplettering och kommandohistorik
Comment[tr]=Otomatik tamamlama ve komut geçmişi tutabilen komut satırı arayüzü
Comment[ug]=コマンドの自動補完や履歴を参照できるコマンドラインインターフェイスです。
Comment[uk]=Інтерфейс командного рядка з авто-доповненням та історією команд
Comment[ur]=کمانڈ لائن مواجہ بمع خودکام-تکمیل اور کمانڈ محفوظات
Comment[ur_PK]=کمانڈ لائن مواجہ بمع خودکام-تکمیل اور کمانڈ محفوظات
Comment[zh_CN]=具有自动补全功能和历史记录的命令行界面
Comment[zh_TW]=具有自動補齊和指令歷史紀錄的指令列介面
Icon=utilities-terminal
X-XFCE-Exec=/usr/lib/arm-linux-gnueabihf/xfce4/panel-plugins/xfce4-verve-plugin

