[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Disk Performance Monitor
Name[ar]=مراقب أداء القرص
Name[ast]=Monitor de rendimientu de discu
Name[ca]=Monitor de rendiment de disc
Name[cs]=Monitorování výkonu disku
Name[da]=Diskydelsesovervågning
Name[de]=Festplattenleistung
Name[el]=Οθόνη επίδοσης δίσκου
Name[en_GB]=Disk Performance Monitor
Name[es]=Monitor de rendimiento de disco
Name[eu]=Diska Performantzia Monitorea
Name[fr]=Contrôleur de performance de disque
Name[gl]=Monitor de rendemento de disco
Name[hu]=Lemezteljesítmény-figyelő
Name[id]=Monitor Performa Disk
Name[it]=Osservatore delle prestazioni del disco
Name[ja]=ディスクパフォーマンスモニター
Name[ko]=디스크 성능 감시기
Name[lt]=Disko našumo stebyklė
Name[lv]=Diska Veiktspējas Pārraugs
Name[nb]=Disk ytelsesmonitor
Name[nl]=Schijfprestatiebewaker
Name[pa]=ਡਿਸਕ ਕਾਰਗੁਜ਼ਾਰੀ ਮਾਨੀਟਰ
Name[pl]=Monitor osiągów urządzeń
Name[pt]=Monitor de desempenho do disco
Name[pt_BR]=Monitor de Desempenho do Disco
Name[ru]=Монитор дисковой производительности
Name[sk]=Sledovanie výkonu disku
Name[sq]=Mbikëqyr Sukseshmëri Disku
Name[sv]=Övervakare för diskprestanda
Name[tr]=Disk performans ekranı
Name[ug]=دىسكا ئىقتىدارىنى كۆزەتكۈ
Name[uk]=Спостереження за продуктивністю диску
Name[ur]=ڈسک کارکردگی مانیٹر
Name[ur_PK]=ڈسک کارکردگی مانیٹر
Name[zh_CN]=磁盘性能监视器
Name[zh_TW]=磁碟效能監視器
Comment=Show disk performance
Comment[ar]=عرض أداء القرص
Comment[ast]=Amosar rendimientu de discu
Comment[ca]=Mostra rendiment de disc
Comment[cs]=Zobrazuje výkon disku
Comment[da]=Vis diskydelse
Comment[de]=Festplattenleistung anzeigen und überwachen
Comment[el]=Εμφάνιση επίδοσης δίσκου
Comment[en_GB]=Show disk performance
Comment[es]=Mostrar rendimiento de disco
Comment[eu]=Ikusi diska performantzia
Comment[fr]=Afficher la performance du disque
Comment[gl]=Mostrar o rendemento do disco
Comment[hu]=Lemezteljesítmény megjelenítése
Comment[id]=Tampilkan performa disk
Comment[it]=Mostra le prestazioni di un disco
Comment[ja]=ディスクのパフォーマンスを表示します
Comment[ko]=디스크의 성능을 보여줍니다
Comment[lt]=Rodyti disko našumą
Comment[lv]=Rādīt diska veiktspēju
Comment[nb]=Viser diskytelsen
Comment[nl]=Toon schijfprestatie
Comment[pa]=ਡਿਸਕ ਕਾਰਗੁਜ਼ਾਰੀ ਵੇਖੋ
Comment[pl]=Dostarcza informacje na temat osiągów odczytu i zapisu urządzeń
Comment[pt]=Mostrar desempenho do disco
Comment[pt_BR]=Mostrar desempenho do disco
Comment[ru]=Показать производительность дисков
Comment[sk]=Zobraziť výkon disku
Comment[sq]=Shfaq suksesshmëri disku
Comment[sv]=Visa diskprestanda
Comment[tr]=Disk performansını göster
Comment[ug]=دىسكا ئىقتىدارىنى كۆرسىتىپ بېرىدۇ
Comment[uk]=Показати продуктивність диску
Comment[ur]=ڈسک کارکردگی دکھائیں
Comment[ur_PK]=ڈسک کارکردگی دکھائیں
Comment[zh_CN]=显示磁盘性能
Comment[zh_TW]=顯示磁碟效能
Icon=drive-harddisk
X-XFCE-Internal=FALSE
X-XFCE-Module=diskperf
