[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=SmartBookmark
Name[ar]=علامات ذكية
Name[ast]=SmartBookmark
Name[ca]=SmartBookmark
Name[cs]=Chytré záložky
Name[da]=Smart-bogmærke
Name[de]=Intelligente Lesezeichen
Name[el]=SmartBookmark
Name[en_GB]=SmartBookmark
Name[es]=SmartBookmark
Name[eu]=Lastermarka-azkarrak
Name[fr]=SmartBookmark
Name[gl]=SmartBookmark
Name[hr]=Pametna zabilješka
Name[hu]=Intelligens könyvjelző
Name[id]=BookmarkCerdas
Name[it]=SmartBookmark
Name[ja]=SmartBookmark
Name[ko]=똑똑한 북마크
Name[lt]=Išmani žymelė
Name[lv]=Viedās grāmatzīmes
Name[nl]=SlimmeBladwijzer
Name[pl]=Inteligentne zakładki
Name[pt]=SmartBookmark
Name[pt_BR]=Marcador Inteligente
Name[ru]=Умные закладки
Name[sk]=Šikovné záložky
Name[sv]=SmartBookmark
Name[tr]=SmartBookmark
Name[ug]=SmartBookmark
Name[uk]=Кмітливі закладки
Name[ur]=سمارٹ بُک مارک
Name[ur_PK]=سمارٹ بُک مارک
Name[zh_CN]=SmartBookmark 智能书签
Name[zh_TW]=SmartBookmark
Comment=Query websites from the Xfce panel
Comment[ar]=موقع للإستعلام عن شريط إكسفس
Comment[ast]=Consulte sitios web dende'l panel de Xfce
Comment[ca]=Accedeix a llocs web des de el quadre de Xfce
Comment[cs]=Zasílá dotazy na webové stránky z panelu Xfce
Comment[da]=Spørg netsteder fra Xfce-panelet
Comment[de]=Rufen Sie Internetseiten aus der Leiste heraus auf
Comment[el]=Ερώτημα ιστοσελίδων από το ταμπλό του Xfce
Comment[en_GB]=Query websites from the Xfce panel
Comment[es]=Consulte sitios web desde el panel de Xfce
Comment[eu]=Galdetu webguneak Xfce paneletik
Comment[fr]=Questionner des sites internet depuis le panneau Xfce
Comment[gl]=Visitar sitios web dende o panel de Xfce
Comment[hr]=Upit web stranice iz Xfce ploče
Comment[hu]=Weboldalak lekérdezése az Xfce panelről
Comment[id]=Kueri situs web dari panel Xfce
Comment[it]=Interroga i siti web dal pannello di Xfce
Comment[ja]=Xfce パネルから ウェブサイトに質問する
Comment[ko]=Xfce 패널에서 웹사이트 요청하기
Comment[lt]=Užklauskite tinklalapius tiesiai iš Xfce skydelio
Comment[lv]=Vaicāt tīmekļa vietni no Xfce paneļa
Comment[nl]=Doorzoek websites vanaf de Xfce-werkbalk
Comment[pl]=Odpytywanie stron internetowych z panelu Xfce
Comment[pt]=Consultar páginas web a partir do painel do Xfce
Comment[pt_BR]=Consulte sites pelo painel do Xfce
Comment[ru]=Переход к сайтам с панели Xfce
Comment[sk]=Zasiela požiadavky na webové stránky z panelu Xfce
Comment[sq]=Kërkoni nëpër site-e web që prej panelit Xfce
Comment[sv]=Fråga webbplatser från Xfce-panelen
Comment[tr]=Web sitelerini Xfce panelinden sorgulayın
Comment[ug]=Xfce تاختىسى ئارقىلىق تورتۇرالاردىن سۈرۈشتۈرۈش
Comment[uk]=Звернення до веб-сайтів з панелі Xfce
Comment[ur]=ایکسفس پینل کے لیے ویب سائٹ سے استفسار کریں
Comment[ur_PK]=ایکسفس پینل کے لیے ویب سائٹ سے استفسار کریں
Comment[zh_CN]=从 Xfce 面板上查询网站
Comment[zh_TW]=從 Xfce 面板查詢網站
Icon=system-search
X-XFCE-Module=smartbookmark
X-XFCE-Internal=FALSE
