[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Wavelan
Name[ar]=Wavelan
Name[ast]=Wavelan
Name[be]=Бесправодная сетка
Name[ca]=Wavelan
Name[cs]=Bezdrátové připojení
Name[da]=Wavelan
Name[de]=Wavelan
Name[el]=Wavelan
Name[en_GB]=Wavelan
Name[es]=Wavelan
Name[eu]=Wavelan
Name[fr]=Wavelan
Name[gl]=Wavelan
Name[hr]=Wavelan
Name[hu]=Wavelan
Name[id]=Wavelan
Name[it]=Wavelan
Name[ja]=Wavelan
Name[kk]=Сымсыз желі
Name[ko]=무선랜
Name[lt]=Wavelan
Name[lv]=Wavelan
Name[nl]=Wavelan
Name[pt]=Wavelan
Name[pt_BR]=Wavelan
Name[ru]=Беспроводная сеть
Name[sk]=Bezdrôtová sieť
Name[sv]=Wavelan
Name[tr]=Wavelan
Name[ug]=Wavelan
Name[uk]=Бездротова мережа
Name[ur]=ویولین
Name[ur_PK]=ویولین
Name[zh_CN]=Wavelan 无线网络查看器
Name[zh_TW]=Wavelan
Comment=View the status of a wireless network
Comment[ar]=عرض حالة شبكة لا سلكية
Comment[ast]=Ver l'estáu d'una rede inalámbrica
Comment[be]=Прагляд стану бесправоднай сеткі
Comment[ca]=Veure l'estat de la xarxa inalàmbrica
Comment[cs]=Zobrazuje stav bezdrátové sítě
Comment[da]=Vis status af et trådløst netværk
Comment[de]=Status des Drahtlosenetzwerks anzeigen
Comment[el]=Προβολή της κατάστασης ενός ασύρματου δικτύου
Comment[en_GB]=View the status of a wireless network
Comment[es]=Ver el estado de una red inalámbrica
Comment[eu]=Ikusi haririk gabeko sarearen egoera
Comment[fr]=Afficher l'état d'un réseau sans fil
Comment[gl]=Ver o estado dunha rede sen fíos
Comment[hr]=Pogledaj status bežične mreže
Comment[hu]=Vezeték nélküli hálózat állapotának megjelenítése
Comment[id]=Tampilkan status jaringan nirkabel
Comment[it]=Visualizza lo stato di una rete senza fili
Comment[ja]=無線ネットワークの状態を表示します
Comment[kk]=Сымсыз желінің қалып-күйін қарау
Comment[ko]=무선 네트워크 상태를 봅니다
Comment[lt]=Stebėkite bevielio tinklo būseną
Comment[lv]=Apskatīt bezvadu tīkla statusu
Comment[nl]=Bekijk de status van een draadloos netwerk
Comment[pt]=Ver o estado da rede sem fios
Comment[pt_BR]=Visualizar o status de uma rede sem fios
Comment[ru]=Просмотреть статус беспроводной сети
Comment[sk]=Zobrazuje stav bezdrôtovej siete
Comment[sv]=Visa status för ett trådlöst nätverk
Comment[tr]=Kablosuz ağ durumunu görüntüler
Comment[ug]=سىمسىز تور ھالىتىنى كۆرسەتسۇن
Comment[uk]=Переглянути статус бездротової мережі
Comment[ur]=وائرلیس نیٹ ورک کی حالت دیکھیں
Comment[ur_PK]=وائرلیس نیٹ ورک کی حالت دیکھیں
Comment[zh_CN]=查看无线网络状态
Comment[zh_TW]=檢視無線網路狀態
Icon=network-wireless
X-XFCE-Internal=FALSE
X-XFCE-Module=wavelan
