[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Mount devices
Name[ar]=توصيل الأجهزة
Name[ast]=Preseos pa montar
Name[ca]=Dispositius muntables
Name[cs]=Připojená zařízení
Name[da]=Montér enheder
Name[de]=Geräte einhängen
Name[el]=Προσάρτηση συσκευών
Name[en_GB]=Mount devices
Name[es]=Dispositivos para montar
Name[eu]=Gailuak muntatu
Name[fi]=Liitä laitteita
Name[fr]=Monter les périphériques
Name[gl]=Montar dispositivos
Name[hu]=Eszközök csatolása
Name[id]=Divais kait
Name[it]=Monta dispositivi
Name[ja]=デバイスのマウント
Name[ko]=장치 마운트
Name[lt]=Prijungti įrenginiai
Name[lv]=Montēt ierīces
Name[nb]=Montering av enheter
Name[nl]=Apparaten aankoppelen
Name[pl]=Montowanie urządzeń
Name[pt]=Montar dispositivos
Name[pt_BR]=Montar dispositivos
Name[ru]=Монтирование устройств
Name[sq]=Monto pajisje
Name[sv]=Montera enheter
Name[tr]=Aygıtları Bağla
Name[uk]=Монтування/Відображення пристроїв
Name[ur]=ماؤنٹ ڈیواسس
Name[ur_PK]=ماؤنٹ ڈیواسس
Name[vi]=Thiết bị gắn
Name[zh_CN]=挂载设备
Name[zh_TW]=掛載裝置
Comment=Shows all mountable devices and (un)mounts them on request.
Comment[ar]=عرض كل الأجهزة القابلة للتوصيل و (إلغاء)توصيل عند الطلب.
Comment[ast]=Amuesa tolos preseos que puen montase y (des)montalos bao demanda.
Comment[ca]=Mostra tots els dispositius muntables i (des)muntals a petició.
Comment[cs]=Zobrazuje všechna připojitelná zařízení a na požádání je odpojuje.
Comment[da]=Vis alle montérbare enheder og (af)monter dem på forespørgsel.
Comment[de]=Zeigt alle einhängbaren Geräte an und hängt sie bei Mausklick ein/aus.
Comment[el]=Εμφανίζει όλες τις προσαρτώμενες συσκευές και τις (απο)προσαρτά κατά βούληση.
Comment[en_GB]=Shows all mountable devices and (un)mounts them on request.
Comment[es]=Muestra todos los dispositivos que pueden ser montados y los (des)monta bajo demanda.
Comment[eu]=Gailu muntagarri guztiak bistarazi eta eskatzean (des)muntatu.
Comment[fi]=Näyttää liitettävissä olevat laitteet ja liittää tai irrottaa ne pyydettäessä.
Comment[fr]=Affiche tous les périphériques pouvant être montés et les (dé)monte à la demande. 
Comment[gl]=Mostra os dispositivos montables e (des)móntaos segundo se solicite.
Comment[hu]=Minden csatolható eszköz megjelenítése és kérésre leválasztása.
Comment[id]=Tampilkan semua divais yang dapat dikait dan (lepas)kait sesuai permintaan.
Comment[it]=Mostra tutti i dispositivi montabili e li (s)monta a richiesta
Comment[ja]=マウント可能なデバイスを表示し、必要に応じてこれらをマウント/マウント解除します。
Comment[ko]=마운트 가능한 장치를 보이고 필요에 따라 마운트 또는 언마운트합니다.
Comment[lt]=Rodo visus prijungiamus įrenginius ir (pri)atjungimus.
Comment[lv]=Rāda visus montējamās ierīces un (at)montē tās pēc pieprasījuma.
Comment[nb]=Viser alle monterbare enheter og (av)monterer etter ønske.
Comment[nl]=Geeft alle koppelbare apparaten weer en (ont)koppelt ze op verzoek.
Comment[pl]=Wyświetla urządzenia oraz je montuje i odmontowywuje
Comment[pt]=Mostra todos os dispositivos montáveis e (des)monta-os a pedido.
Comment[pt_BR]=Mostra todos os dispositivos montáveis e (des)monta-os quando solicitado.
Comment[ru]=Показывать все устройства, возможные для монтирования и (раз)монтировать их при запросе.
Comment[sq]=Shfaq tërë pajisjet e montueshme dhe i (ç)monton ato sipas kërkesave.
Comment[sv]=Visar alla monteringsbara enheter och (av)monterar dem på begäran.
Comment[tr]=Bağlanabilir aygıtları gösterir ve talebe göre bağlar/ayırır. 
Comment[uk]=Показати всі доступні для монтування пристрої і демонтовані тут в запиті.
Comment[ur]=تمام قابلِ ماؤنٹ ڈیوائس ظاہر کریں اور انہیں درخواست پر ان ماؤنٹ کریں
Comment[ur_PK]=تمام قابلِ ماؤنٹ ڈیوائس ظاہر کریں اور انہیں درخواست پر ان ماؤنٹ کریں
Comment[zh_CN]=显示所有可挂载的设备并在需要时挂载或卸载它们。
Comment[zh_TW]=顯示全部可掛載的裝置，並依自身需求掛載或卸載裝置。
Icon=drive-harddisk
X-XFCE-Internal=FALSE
X-XFCE-Module=mount
